@import "tailwindcss";

:root{
    --bege: #D7C9AA;
    --vinho: #7B2D26;
    --branco: #F0F3F5; 
}

.bg-bege{
    background-color: var(--bege);
}

.bg-vinho{
    background-color: var(--vinho);
}

.bg-branco{
    background-color: var(--branco);
}

/*Temporario*/

body{
    background-color: #D7C9AA;
}